/* Grundlegende Reset-Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body-Stile */
html, body {
    height: 100%; /* Stellen Sie sicher, dass der Body die volle Höhe des Viewports einnimmt */
}

body {
    font-family: Arial, sans-serif; /* Schriftart */
    line-height: 1.6; /* Zeilenhöhe */
}

/* Header-Stile */
header {
    background-color: rgba(51, 51, 51, 0.8); /* Dunkler Hintergrund für den Header mit Transparenz */
    color: white; /* Weiße Schriftfarbe */
    padding: 20px 0; /* Vertikales Padding */
    text-align: center; /* Zentrierter Text */
}
#frauenkirche header { background-color:rgba(51, 51, 51, 0.8)}

/* Navigation-Stile */
nav {
    background-color: rgba(68, 68, 68, 0.8); /* Dunklerer Hintergrund für die Navigation mit Transparenz */
}

nav ul {
    list-style: none; /* Entfernt die Aufzählungszeichen */
    padding: 0; /* Entfernt den Padding */
    margin: 0; /* Entfernt den Margin */
}

nav ul li {
    display: inline-block; /* Inline-Block für bessere Layout-Kontrolle */
    margin-right: 20px; /* Abstand zwischen den Links */
    position: relative; /* Positionierung für das Dropdown-Menü */
    width: 180px; /* Breite der Links */
}

nav ul li a {
    color: white; /* Weiße Schriftfarbe für die Links */
    text-decoration: none; /* Entfernt die Unterstreichung */
    padding: 10px 0; /* Innenabstand für die Links */
    transition: background-color 0.3s, color 0.3s; /* Sanfter Übergang für Hover-Effekte */
    display: block; /* Block-Display für die Links */
}

nav ul li a:hover {
    background-color: #575757; /* Hintergrundfarbe beim Hover */
    border-radius: 5px; /* Abgerundete Ecken für Hover-Effekt */
    color: #fff; /* Weiße Schriftfarbe beim Hover */
}

nav ul li ul {
    display: none; /* Dropdown-Menü standardmäßig ausblenden */
    position: absolute; /* Absolute Positionierung für das Dropdown-Menü */
    left: 0; /* Links unter dem Hauptmenü */
    top: 100%; /* Direkt unter dem Hauptmenü */
    background-color: white; /* Hintergrundfarbe für das Dropdown-Menü */
    border: 1px solid #ccc; /* Rahmen für das Dropdown-Menü */
    z-index: 1000; /* Sicherstellen, dass es über anderen Elementen liegt */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Schatten für Dropdown */
    border-radius: 5px; /* Abgerundete Ecken für Dropdown */
    width: 100%; /* Breite des Dropdowns */
}

nav ul li:hover ul {
    display: block; /* Dropdown-Menü anzeigen, wenn der Benutzer über das Hauptmenü fährt */
}

nav ul li ul li {
    display: block; /* Vertikale Anordnung der Dropdown-Elemente */
    padding: 10px; /* Innenabstand für Dropdown-Elemente */
}

nav ul li ul li a {
    color: #333; /* Dunkle Schriftfarbe für Dropdown-Links */
    text-decoration: none; /* Keine Unterstreichung */
}

nav ul li ul li a:hover {
    background-color: #f0f0f0; /* Hintergrundfarbe beim Hover für Dropdown */
    border-radius: 5px; /* Abgerundete Ecken für Hover-Effekt */
}

/* Hauptbereich-Stile */
.container {
    padding: 20px; /* Innenabstand im Container */
    max-width: 800px; /* Maximale Breite des Containers */
    margin: auto; /* Zentriert den Container */
    background: rgba(255, 255, 255, 0.9); /* Weißer Hintergrund mit Transparenz */
    border-radius: 5px; /* Abgerundete Ecken für den Container */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
}
.dresden-wappen {
    width: 100px; /* Breite des Wappens */
    height: auto; /* Höhe wird automatisch angepasst */
    margin: 10px 0; /* Abstand oben und unten */
}


/* Titel-Stile */
h1 {
    color: #4CAF50; /* Grüner Titel */
    margin-bottom: 20px; /* Abstand unter dem Titel */
}

/* Bild-Stile */
img {
    width: 100%; /* Bild nimmt volle Breite des Containers ein */
    height: auto; /* Höhe wird automatisch angepasst */
    border-radius: 5px; /* Abgerundete Ecken für das Bild */
}

/* Info-Box-Stile */
.info {
    margin: 20px 0; /* Abstand zwischen den Info-Boxen */
}

/* Footer-Stile */
footer {
    background-color: rgba(51, 51, 51, 0.8); /* Dunkler Hintergrund für den Footer mit Transparenz */
    color: white; /* Weiße Schriftfarbe */
    text-align: center; /* Zentrierter Text */
    padding: 10px 0; /* Vertikales Padding */
    width: 100%; /* Footer über die gesamte Breite */
    position: relative; /* Positionierung */
}