.thumb img {
    width: 100px;  /* Breite auf 100px festlegen, du kannst die Zahl anpassen */
    height: 100px; /* Höhe auf 100px festlegen */
    object-fit: cover; /* Verhindert Verzerrungen, das Bild wird beschnitten, um die Box auszufüllen */
    border: 2px solid green;
    cursor: pointer;
}

.thumb img.active {
    border-color: orange;
}

.big img {
    transition: opacity 1s linear;
    position: absolute;
    max-width: 100%; /* Das Bild wird nie breiter als der Container */
    max-height: 100%; /* Das Bild wird nie höher als der Container */
    opacity: 0;
}


.big img {
    width: 100%;    /* Bild soll immer die volle Breite des Containers einnehmen */
    height: 300px;  /* Festgelegte Höhe für die großen Bilder */
    object-fit: contain;  /* Bild wird skaliert, um in den Container zu passen, ohne die Proportionen zu verzerren */
    transition: opacity 1s linear;
    position: absolute;
    opacity: 0;
}

.big img.active {
    opacity: 1;
}


#image-description {
    margin-top: 10px;
    font-weight: bold;
    display: none; /* Standardmäßig ausgeblendet */
    text-align: center;
    font-size: 18px;
}

