body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h2 {
    margin-top: 20px;
}

.ctrls {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.thumb-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.thumb img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.thumb img.active {
    border-color: orange;
}

.big {
    position: relative;
    height: 300px;
    width: 80%; /* Auf eine gewisse Breite anpassen */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 20px;
}

.big img {
    position: absolute;
    max-height: 300px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.big img.active {
    opacity: 1;
}

#image-description {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
}

footer {
    text-align: center;
    margin-top: 30px;
}

#cookieOk {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

